:global {
    a.deco-none {
        color:#000000 !important;
        text-decoration:none;
    }
    .ripple {
        background-position: center;
        transition: background 0.8s;
        &:hover {
            background: #f8f9fa radial-gradient(circle, transparent 1%, #f0f0f0 1%) center/15000%;
          }
          &:active {
            background-color: #f8f8f8;
            background-size: 100%;
            transition: background 0s;
          }
      }
      .card-title {
        font-size: 1.8rem;
      }
      .title {
        font-weight: 700;
      }
}